---
title: Murphy's Law
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		{% set css %}
			{% include "style.css" %}
		{% endset %}
		{% set js %}
		  {% include "randomizer.js" %}
		{% endset %}
		{% set data %}
			{% include "../_data/laws.json" %}
		{% endset %}

		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet"> 
		<style>
			{{ css | cssmin | safe }}
		</style>
		<script>
			(function() {
				var data = {{ data | safe }};
				{{ js | jsmin | safe }}
			})()
		</script>
	</head>

	<body>
		{{ content | safe }}
	</body>
</html>
